body {
	padding: 10px;
}

.step-led {
	height: 8px;
	width: 8px;
	margin: 0 auto;
	border-radius: 4px;
	background-color: red;
	margin-top: 4px;
}

.pattern-value > input {
	width: 100%;
	text-align: center;
}

.on {
	background-color: lightgreen;
}
