<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>SimpleSeq</title>
	<script type="text/javascript" src="{{ static_url }}/js/lib/requirejs/2.1.19/require.min.js" data-main="{{ static_url }}/js/app"></script>

	<link rel="stylesheet" href="{{ static_url }}/css/lib/bootstrap/3.3.5/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ static_url }}/css/lib/bootstrap/3.3.5/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="{{ static_url }}/css/lib/bootstrap/3.3.5/contextual-popovers.css" />
	<link rel="stylesheet" href="{{ static_url }}/css/simpleseq.css">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">SimpleSeq</a>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="sizing-addon3">BPM</span>
						<input id="bpm" type="text" class="form-control">
					</div>
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="sizing-addon3">Division</span>
						<input id="div" type="text" class="form-control">
					</div>
					<div class="input-group input-group-sm">
						<span class="input-group-addon" id="sizing-addon3">Swing</span>
						<input id="swing" type="text" class="form-control">
					</div>
				</form>
			</div>
		</nav>

		<div class="well clearfix">

			{% for i in range(4) -%}
			<div class="row">
				{% for j in range(16) -%}
				<div class="col-xs-1 pattern-value" data-track-id="{{i}}" data-step-id="{{j}}">
					<input size='1' />
				</div>
				{%- endfor %}
			</div>
			{%- endfor %}

			<div class="row">
				{% for i in range(16) -%}
				<div class="col-xs-1"><div class="step-led" data-step-id="{{i}}"></div></div>
				{%- endfor %}
			</div>
		</div>

	</div>

</body>
</html>
